---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: line_items[0][price_data][currency]=gbp&line_items[0][price_data][product_data][name]=HelsiFit%E2%84%A2+Ab+Roller+Wheel+Automatic+Rebound+With+Elbow+Support+%2F+Blue&line_items[0][price_data][unit_amount]=5499&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Flocalhost%3A3000%2Forders%2Fsuccess%3Ft%3D9da453b4-893a-4476-ab53-3c6084d5757d&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Forders%2Fcancel%3Ft%3D9da453b4-893a-4476-ab53-3c6084d5757d
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eab51c12-45e0-4b2b-b1ee-aeda1c4c7149
      Original-Request:
      - req_kg2GscxoKtxdzN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1E9YWKaKJ7mhjEyBEWZOlY02mU0LtU3zrEi593F0CVCZlS78nJyENO2qL",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 5499,
          "amount_total": 5499,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/orders/cancel?t=9da453b4-893a-4476-ab53-3c6084d5757d",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1710353239,
          "currency": "gbp",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "if_required",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1710439639,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_1OnmZXJsbKv4DPOMht2RL19E",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/orders/success?t=9da453b4-893a-4476-ab53-3c6084d5757d",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1E9YWKaKJ7mhjEyBEWZOlY02mU0LtU3zrEi593F0CVCZlS78nJyENO2qL#fidkdWxOYHwnPyd1blpxYHZxWjA0SmFzUENPdmdOczFBVUpIdV9ybUBTU0lJcjVJajZRaTdDY1xTYzdMQjU2Z3BuQmBvTkdzUUl%2FYTJHdjFGV2psYm9qcGJyf2xGVH9tSDB0fTZwNVx2STxSNTVVfzdOdU5%2FUCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Wed, 13 Mar 2024 18:07:19 GMT
recorded_with: VCR 6.2.0
